*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Verdana;
}
/* start header */
.header {
    border-bottom: solid 3px;
    color: white;
   background-color: gray;
    flex-wrap: wrap;
    padding: 5px;
    display: flex;
}

.myname{
    font-size: 50px;
    color: white;
    display: inline-block;
}

.header nav{
    font-size: 20px;
    float: right;
}

.header ul li{
    display: inline-block;
    margin: 20px;
}

.links{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-family: Arial;
    color: white;
}

.photo{
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}
/* end header*/

/*Start section1(ABOUT ME)*/
.section{
    text-align: center;
    flex-wrap: wrap;
}

.section1{
    display: flex;
    flex-wrap: wrap;
}

.aboutMe {
    color:white;
    font-size: 35px;
    text-align: center;
    top: 200px;
    position: absolute;
    width: 50%;
    flex-wrap: wrap;
}

.p1{
    margin: 10px;
    color: white;
    font-size: 25px;
    padding: 5px;
    text-align: justify;
    position: absolute;
    right: 0;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    border-bottom: solid 3px;
 }

/*end section1(ABOUT ME)*/

/*start section2(MY WORKS)*/
.myWork{
    color: white;
    font-size: 30px;
    text-align: center;
    top: 420px;
    position: absolute;
    width: 50%;
}

.imgMywork{
    position: absolute;
    top: 400px;
    right: 0;
    max-height: 150px;
    width: 50%;
    display: flex;
}
.imagem{
    display: inline-block;
}

#firstImg{
    max-width: 180px;
    max-height: 300px;
    width: auto;
    height: auto;
}  

/*end section2(MY WORKS)*/

/*start section3(CONTACTS)*/
.contacts{
    color: white;
    font-size: 30px;
    text-align: center;
    top: 730px;
    position: absolute;
    width: 100%;
}

.contacts ul{
    list-style-type: none;
}
/*end section3*/

/*footer*/
.footer{
    color:white ;
    display: flex;
    text-align: center;
} 


.redes{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.redes img{
    width: 50px;
    height: 50px;
}

.redes ul li{
    list-style-type: none;
    display: inline;
    flex-grow: 1;
}
/*end footer*/

@media screen and (max-width: 952px) {
    .imgMywork {
        top: 590px;
    }
    .myWork{
        top: 630px;
    }
    .contacts{
        top: 1200px
    }   
    .footer{
        bottom: 0px;
    } 
  }




/* .section2{
    clear: both;
    width: 100%;
  }
  .myWork{
      width: 50%;
      float: left;
      text-align: center;
      top: 630px;
  }
  .img-mywork{
      width: 50%;
      display: inline;
      top: 590px;
  }
  .Contacts{
      top: 1090px; */
  /* } */