*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(https://thumbs.dreamstime.com/z/rua-de-new-york-city-manhattan-soho-no-fundo-do-tempo-por-sol-140739171.jpg);
    background-color: #2c66c9;
    background-size: 100%;
    background-repeat: no-repeat;
}
/* start header */
.header {
    border-bottom: solid 3px;
    border-left: solid 5px;
    border-right: solid 5px;
    flex-wrap: wrap;
    padding: 5px;
}

.myname{
    font-size: 50px;
    color: black;
    display: inline-block;
}

.header nav{
    font-size: 20px;
    float: right;
}

.header ul li{
    display: inline-block;
    margin: 20px;
}

.links{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-family: Arial Black;
    color: black;
}

.photo{
    max-width:200px;
    max-height:100px;
    width: auto;
    height: auto;
}
/* end header*/

/*Start section1(ABOUT ME)*/
.section{
    text-align: center;
    font-family: Arial Black;
    flex-wrap: wrap;
}

.section1{
    display: flex;
    flex-wrap: wrap;
}

.aboutMe {
    color:black;
    font-size: 35px;
    text-align: center;
    top: 200px;
    position: absolute;
    width: 50%;
    flex-wrap: wrap;
}

.p1{
    margin: 10px;
    color: black;
    font-size: 25px;
    padding: 5px;
    text-align: justify;
    position: absolute;
    right: 0;
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    border-bottom: solid 3px;
 }

/*end section1(ABOUT ME)*/

/*start section2(MY WORKS)*/
.myWork{
    color: black;
    font-size: 30px;
    text-align: center;
    top: 420px;
    position: absolute;
    width: 50%;
}

.imgMywork{
    position: absolute;
    top: 400px;
    right: 0;
    max-height: 150px;
    width: 50%;
}
.imagem{
    display: inline-block;
}

#firstImg{
    max-width: 180px;
    max-height: 300px;
    width: auto;
    height: auto;
}  

/*end section2(MY WORKS)*/

/*start section3(CONTACTS)*/
.contacts{
    color: black;
    font-size: 30px;
    text-align: center;
    top: 680px;
    position: absolute;
    width: 100%;
}

.Contacts ul{
      list-style-type: none;
}
/*end section3*/

/*footer*/
.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 1px;
    color:black ;
    margin-top:auto;
} 


.redes{
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.redes img{
    width: 50px;
    height: 50px;
}

.redes ul li{
    list-style-type: none;
    display: inline;
    flex-grow: 1;
}
/*end footer*/

@media screen and(max-width: 690px){
    .section2{
        clear: both;
        width: 100%;
      }
      .myWork{
          width: 50%;
          float: left;
          text-align: center;
          top: 630px;
      }
      .img-mywork{
          width: 50%;
          display: inline;
          top: 590px;
      }
      .Contacts{
          top: 1090px;
      }
}    